<h3 class="text-center">{{companyName}}</h3>

<div class="table-responsive">
  <table class="table text-center">
    <tr>
        <td>Ticker name</td>
        <td>Exachange name</td>
        <td>Unit name</td>
        <td>Currency type</td>
    </tr>
    <tr>
        <td>{{ticker}}</td>
        <td>{{exchangeName}}</td>
        <td>{{unitName}}</td>
        <td>{{currencyType}}</td>
    </tr>
  </table>
</div>